<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.raf.jun_Filip_Novakovic_882020RN">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="rs.raf.jun_Filip_Novakovic_882020RN.application.Vezbe11Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vezbe11" >
        <activity android:name="rs.raf.jun_Filip_Novakovic_882020RN.presentation.view.activities.LoginActivity"
            android:exported="true">
         <!--android:theme="@style/Theme.App.Starting">-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="rs.raf.jun_Filip_Novakovic_882020RN.presentation.view.activities.MainActivity" />
        <activity android:name="rs.raf.jun_Filip_Novakovic_882020RN.presentation.view.activities.StockDetail" />
        <activity android:name="rs.raf.jun_Filip_Novakovic_882020RN.presentation.view.activities.BuyActiviry" />
        <activity android:name="rs.raf.jun_Filip_Novakovic_882020RN.presentation.view.activities.SellActivity" />
    </application>

</manifest>